article{
    border: 2px solid black;
    background-color: coral;
}
.head{
    color: darkblue;
}
span{
    color: red;
}
p{
    color: white;
}
#para{
    color: green;
}
a{
    font-size: 20px;
    color: black;
}
p:last-of-type{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
ul{
    color: white;
}
ul li:nth-child(1) u {
    background-color: yellow;
    color: green;
}

ul li:nth-child(2) u {
    background-color: darkviolet;
    color: blue;
}

ol{
    color: black;
}
ol li:nth-child(2){
    color: blue;
}
ol li:nth-child(3){
    color: red;
}