.menu-btn{
    display: none;
}
.menu{
    display: none;
}
@media (max-width:786px){
    .one{
        display: flex;
        gap: 350px;
    }
    .one1{
        display: flex;
        gap: 30px;
    }
    .one2 {
        background-color: aqua;
        color: blue;
        height: 30px;
        border-radius: 10px;
    }
    /*Visible in phone
    */
    .menu-btn{
        display: block;
    }
    /*menu open hone pr*/
    .menu-btn:focus+.menu{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        width: 80vw;
        height: 100vh;
        background-color: black;
        color: white;
        top: 0;
        bottom: 0; 
   }
   .menu ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 50%;
        list-style: none;
    }
    .two p{
        margin: 0;
        padding:0;
    }
    .two1{
        font-size: 60px;
    }
    .two2{
        font-size: 40px;
        color: aqua;
    }
    .two button{
        margin-left: 40px;
        width: 200px;
        height: 60px;
        font-size: 15px;
        border-radius: 10px;
        color: white;
        background-color: aqua;
    }
    .two img{
        margin-left: 30px;
        margin-top: 30px;
    }
}