*{
    border: 2px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    width: 60%;
}

/* a{
    width: 60%;
    height: 25%;
    display: block;
} */

ul{
    list-style: none;
    /* text-align: right; */
    text-align: center;
    background-color: black;
    padding: 30px;
}
ul>li>a{
    color: aqua;
    text-decoration: none;
}
li{
    display: inline;
    
}

li>a:hover{
    color: white;
}