/* main{
    border: 2px solid brown;
    width: 50%;
}
section{
    border: 4px dotted green; */
    /* height: 150vh; */
    /* width: 70vw;
}
h2{
    font-size: 30px;
} */

div{
    border: 15px solid greenyellow;
    padding: 35px;
    background-color: aqua;
}