/* 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #ffffff;
    color: #555;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.row{ 
    max-width: 100%; 
    margin: 0; 
} 
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top:20px ;
    margin-left: 20px;
    font-size: 30px;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 30px;

}
.one1{
    
    float: right;
}
.one{
    color: blue;
    background-color: lightblue;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    margin-top: 5px;
}
.btn{
    width: 250px;
    height: 80px;
    background-color: lightskyblue;
    color: white;
    text-align: center;
    transition: all 0.7s ease;
    border-radius: 15px;
    font-size: 20px;
}
.btn:hover{
     transform: scale(1.5) rotate(-3deg);
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #555;
    font-family: sans-serif;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 30px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #555;
    font-size: 20px;
}

.username-btn {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    color: blue;
    border: none;
    border-radius: 10px;
}



.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 80px;
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 400;
}

.hero-content h1 span {
    color: skyblue;
    display: block;
}

.hero-content p {
    font-size: 25px;
    opacity: 0.5;
    margin-top: 20px;
    line-height: 1.5;
}

.service-btn {
    width: 250px;
    height: 80px;
    margin-top: 30px;
    background-color: lightskyblue;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;

    transition: all 0.7s ease;
}

/* Hover Effect */

.service-btn:hover {
    transform: scale(1.5) rotate(-12deg);
}

/* Image */

.hero-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    height: 500px;
    max-width: 100%;
}

