fieldset{
    background-color: orange;
    border: 5px solid black;
}
.one{
    color: violet;
}
.heading{
    color: darkblue;
    background-color: lightgreen;
}
.headingh4{
    color: darkblue;
    /* background-color: lightgreen; */
}